@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


.body {
    margin: 0 auto;
    font-family: 'Nunito Sans', Arial;
    font-style: normal;
    font-weight: 400;
    max-width: 1440px;
}

.body * {
    box-sizing: border-box;
}

.header {
    background-color: #131313;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header__container-main {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 83px;
    align-items: center;
    font-family: 'Nunito Sans';
}

.header__container-nav {
    display: flex;
    list-style: none;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__container-item:hover {
    color: #E3B873;
}

.header__container-item {
    text-decoration: none;
    color: white;
    margin-right: 47px;
}

.button1 {
    height: 37px;
    width: 161px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 33px;
    cursor: pointer
}

.phone {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.section1 {
    background-image: url(../images/image\ 1.jpg);
    background-size: cover;
    height: 707px;
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
}

.section1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.section1__maintext {
    z-index: 1;
    position: relative;
}

.section1__tittle {
    width: 676px;
    height: 105px;
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    padding-top: 194px;
    margin-left: 134px;
    color: #FFFFFF;
}

.coloryellow {
    color: #E3B873;
}

.section1__p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    margin: 0;
    color: #FFFFFF;
    width: 504px;
    height: 89px;
    margin-left: 134px;
    padding-top: 124px;
}

.button2 {
    width: 207px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    padding: 19px 42px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    margin-left: 134px;
    margin-top: 130px;
    text-transform: uppercase;
    cursor: pointer
}

.button3 {
    width: 207px;
    height: 51px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 19px 23px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 130px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    cursor: pointer
}

.section2 {
    background-color: #131313;
    height: 1074px;
    max-width: 1440px;
    margin: 0 auto;
}

.section2__table {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    color: #E3B873;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 107px;
    margin-right: 130px;
}

.section2__table-text {
    color: rgba(255, 255, 255, 0.3);
    margin-right: 60px;
    text-decoration: none;
}

.section2__table-text:hover {
    color: #E3B873;
    text-decoration: underline;
}
.section2__tittle {
    width: 253px;
    height: 66px;
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-left: 134px;
    color: #E3B873;
}

.section2__p {
    width: 442px;
    height: 86px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    margin-left: 134px;
    margin-right: 50px;
    padding-top: 34px;
    color: #FFFFFF;
}

.section2__image {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 52px;
    justify-content: space-around;
    margin-right: 134px;
}

.section2__image-mobile {
    display: none;
}

.section2__image-chair {
    width: 50%;
    max-width: 100%;
    height: 50%;
    max-height: 100%;
}

.info {
    display: grid;
    grid-template-columns: 150px 180px;
    grid-auto-rows: minmax(0, auto);
    margin-left: 134px;
    padding-top: 42px;
    grid-column-gap: 30px;
    grid-row-gap: 34px;
}

.tittle__info {
    color: #E3B873;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
}

.text__info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.arrows__button {
    margin-left: 135px;
    margin-top: 30px;
}

.arrow1-completed {
    margin-right: 29px;
    cursor: pointer;
}

.arrow2-completed {
    margin-left: 29px;
    cursor: pointer;
}

.section3 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
    
}

.section3__main {
    margin-top: -300px;
}

.section3__camera {
    text-align: center;
    color: #FFFFFF;
}

.section3__man {
    width: 817px;
    height: 434px;
    display: flex;
    justify-content: center;
    margin-top: 31px;
    position: relative;
}

.section3__man::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.section3__play {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 300px;
}

.line1__underphoto {
    width: 55px;
    height: 1.54px;
    background: #E3B873;
    border-radius: 30px;
    margin-top: -83px;
}

.section3__paragraph {
    width: 681px;
    height: 130px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin-top: 34px;
    color: #363636;
}

.form__underphoto {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-column-gap: 50px;
    justify-content: center;
    margin-top: 91px;
    align-items: center;
}

.form__name {
    display: flex;
    flex-direction: column;
    color: rgba(54, 54, 54, 0.5);
}

.form__inputtext {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    border: 0;
    color: #363636;
}

.button4 {
    font-style: normal;
    width: 200px;
    height: 51px;
    font-size: 13px;
    line-height: 27px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
    border-radius: 2px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 33px;
    cursor: pointer;
}

#i_agree {
    width: 18px;
    height: 18px;
    border-radius: 1px;
}

input[type="checkbox"]:checked + label::before {
    background-color: #E3B873;
}

.checkbox1 {
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.section4 {
    max-width: 1440px;
    margin: 0, auto;
}

.container4__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}

.image__hammer {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}

.table1 {
    width: 392px;
    height: 579px;
}

.image__hall {
    width: 392px;
    height: 421x;
    position: relative;
    z-index: -1;
}

.container5 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    max-width: 1440px;
    margin: 0 auto;
}

.main__text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-left: 34px;
    margin-top: 25px;
    width: 228px;
    height: 21px;
    display: inline-block;
}

.hall__text {
   
    margin: 0;
    margin-top: -100px;
    margin-left: 31px;
    width: 330px;
    height: 286px;
}

.container5__background {
    width: 330px;
    height: 286px;
    background-color: white;
    margin-top: -170px;
    margin-left: 31px;
}

.main__table {
    margin: 0;
    margin-top: 13px;
}

.button__buy {
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.container5 {
    display: grid;
    grid-template-columns: repeat(3, 392px);
    width: 1236px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 31px;
    max-width: 1440px;
    margin: 0 auto;
}

.container6 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 1440px;
    height: 700px;
    color: #363636;
    max-width: 1440px;
    margin: 0 auto;

}

.container6__image {
    position: relative;
    z-index: -1;
    margin-top: 124px;
}

.container6_text-image {
    width: 374px;
    height: 473px;
    margin-left: 307px;
    margin-top: -530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image1 {
    width: 371px;
    height: 41px;
}

.image2 {
    width: 145px;
    height: 41px;
}

.image3 {
    width: 163px; 
    height: 41px;
}

.image4 {
     width: 253px; 
     height: 41px; 
}     

.form2__underphoto {
    width: 506px;
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin-left: 834px;
    margin-top: -450px;
    padding-left: 49px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form2__title {
    width: 297px;
    height: 47px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 55px;
}

.form2__name {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
}

.form2__inputtext {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    border: 0;
    background: #131313;
    outline: 0;
    color: white;
}

.checkbox2 {
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.button5 {
    width: 213px;
    height: 51px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    color: #FFFFFF;
    margin-left: 195px;
}

.line2 {
    background: rgba(255, 255, 255, 0.15);
    width: 408px;
    height: 1px;
    margin-left: 0px;
}

.logo__pig {
    width: 441px;
    height: 72px;
    margin-left: 866px;
     margin-top: 38px;
}

.section5 {
    max-width: 1440px;
    margin: 0, auto;
}

.container7__bgimage {
    position: relative;
    z-index: -1;
    margin-top: 322px;
}

.container7 {
    background-image: url(..//images/image\ 5\ bg.jpg);
    background-size: cover;
    height: 864px;
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
    margin-top: 322px;
}

.container7::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.container7__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-left: 99px;
    padding-top: 137px;
}

.container7__text {
    z-index: 1;
    position: relative;
}

.container7__table {
    list-style: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    cursor: pointer;
    color: #FFFFFF;
    margin-left: 59px;
    margin-top: 49px;
    width: 299px;
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container7__table-text {
    color: #FFFFFF;
    text-decoration: none;
}

.container7__table-text:hover {
    color: #E3B873;
    text-decoration: underline;
}

.column1 {
    display: grid;
    grid-row-gap: 39px;
    margin-left: 588px;
    margin-top: -838px;
    position: absolute;
}

.column1__first {
    display: none;
}

.column2 {
    display: grid;
    grid-row-gap: 37px;
    margin-left: 985px;
    margin-top: -911px;
    position: absolute;
}

.section6 {
    max-width: 1440px;
    margin: 0, auto;
}

.container8__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    width: 257px;
    height: 26px;
    margin-left: 592px;
    margin-top: 110px;
}

.logo__hand {
    margin-left: 665px;
    margin-top: 13px;
}

.container8__p {
    width: 476px;
    height: 57px;
    margin-left: 483px;
    margin-top: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.container9 {
    display: flex;
    width: 1236px;
    justify-content: space-between;
    margin-left: 103px;
}

.container9__maria {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.container9__image {
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 24px;
}

.container9__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    width: 178px;
    height: 42px;
    color: #181818;
    margin-left: 119px;
    margin-top: -67px;
    margin-bottom: 39px;
}

.container9__p {
    width: 324px;
    height: 216px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin-left: 20px;
}

.maria__button {
    width: 293px;
    height: 54px;
    border: 0;
    outline: 0;
    background-image: url(..//images/maria_price.svg);
    cursor: pointer;
    margin-top: 50px;
}

.sergey__button {
    width: 293px;
    height: 54px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-image: url(..//images/sergey_price.svg);
    margin-top: 50px;
}

.container9__sergey {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.egor__button {
    width: 293px;
    height: 54px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-image: url(..//images/egor_price.svg);
    margin-top: 50px;
}

.container9__egor {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.frame__all {
    display: flex;
    margin-top: -382px;
    width: 1440px;
}

.section7 {
    margin: 0, auto;
    background-image: url(..//images/bki_s7.jpg);
    max-width: 1440px;
    height: 953px;
    background-size: cover;
    position: relative;
}

.section7::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.form3__underphoto {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: 100px 100px;
    grid-column-gap: 58px;
    justify-content: center;
    margin-top: 45px;
    align-items: center;
}

.form3__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 34px;
    color: #FFFFFF;
    margin: 0;
}

.form3 {
    width: 883px;
    height: 445px;
    background: black;
    margin-left: 288px;
    margin-top: -246px;
    position: absolute;
    z-index: 2;
}

.form3__name {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
}

.form3__inputtext {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    border: 0;
    background: #131313;
    outline: 0;
    color: white;
}

.line3 {
    width: 516px;
}

.checkbox3 {
    margin-left: 298px;
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
}

.button6 {
    margin-left: 341px;
    margin-top: 50px;
    width: 200px;
    height: 51px;
    font-style: normal;
    font-size: 13px;
    margin-top: 34px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
    border-radius: 2px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 33px;
    cursor: pointer;
}

.section7__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 274px;
    color: #E3B873;
    margin: 0;
    position: relative;
}

.section7__logo {
    margin-left: 682px;
    margin-top: 26px;
    position: relative;
    display: flex;
    width: 71px;
    justify-content: space-between;
}

.section7__map {
    position: relative;
    width: 925px;
    height: 465px;
    margin-left: 255px;
    margin-top: 43px;
}

.footer__main {
    height: 133px;
}

.footer__container {
    height: 133px;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .button1 {
        display: none;
    }

    .header__container-main {
        justify-content: space-around;
    }

    .section1__tittle {
        height: 60px;
        width: 339px;
        font-size: 23px;
        line-height: 132.83%;
        text-align: center;
        padding: auto;
        margin: auto;
    }

    .section1__p {
        font-size: 14px;
        line-height: 135.84%;
        width: 339px;
        height: 94px;
        text-align: center;
        padding: auto;
        margin: auto;
    }

    .button2 {
        width: 338px;
        height: 51px;
        margin: auto;
    }

    .button3 {
        width: 338px;
        height: 51px;
        margin: auto;
        margin-top: 26px;
    }
    
    .button__2and3 {
        padding: auto;
        margin: auto;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }

    .section1 {
        max-width: auto;
        max-height: auto;
    }

    .section2__table {
        display: none;
    }

    .section2__tittle {
        width: 253px;
        height: 66px;
        padding: auto;
        margin: auto;
        text-align: center;
    }

    .section2__image {
        padding: auto;
        margin: auto;
    }

    .section2__image-chair {
        display: none;
    }

    .section2__p {
        text-align: center;
        padding: auto;
        margin: auto;
        width: 311px;
        height: 86px;
        font-size: 11px;
        line-height: 158.48%;
    }

    .info {
        padding: auto;
        margin: auto;
        text-align: center;
        grid-template-columns: 150px 180px;
        min-width: 90%;
        grid-column-gap: 10px;
        justify-content: center;
        width: 341px;
        height: 185px;
    }

    .arrows__button {
        display: none;
    }

    .section2__image-mobile {
        display: block;
        width: 340px;
        height: 241px;
        padding: auto;
        margin: auto;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    .section3__container {
       background-color:#131313;
    }

    .section3__camera {
        display: block;
        margin-top: 58px;
    }

    .section3__man2 {
        width: 50%;
        max-width: 100%;
        height: 50%;
        max-height: 100%;
    }

    .section3__paragraph {
        width: 340px;
        height: 106px;
        font-size: 11px;
        line-height: 169.8%;
        text-align: center;
        color: #FFFFFF;
    }

    .form__name {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }

    .form__inputtext {
        font-size: 14px;
        line-height: 138.72%;
        color: #FFFFFF;
        background-color: #131313;
    }

    .form__underphoto {
        grid-template-columns: minmax(0, auto);
        margin: auto;
        grid-row-gap: 65px;
        padding-top: 61px;
    }

    .line1 {
        width: 340px;
        height: 1px;
    }

    .button4 {
        width: 340px;
        height: 51px;
        margin-top: 60px;
        margin-bottom: -58px;
    }

    .checkbox1 {
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
        padding-bottom: 118px;
        position: relative;
        margin-top: -107px;
    }

    .container4__title {
        margin-top: 58px;
    }

     .section3__man {
        width: auto;
    }
    .section3__man-image {
        max-width: 100%;
        max-height: 80%;
        margin: auto;
    }    

    .section3__play {
        bottom: 250px;
    }
    
    .section3__play-image {
        width: 20%;
    }

    .section3__man2 {
        width: auto;
        height: auto;
        margin: auto;
    }

    .container5 {
        grid: none;
        grid-row-gap: 79px;
        width: 375px;
    }

    .container6 {
        display: none;
    }

    .column1 {
        display: none;
    }

    .column2 {
        display: none;
    }

    .container7__table {
        display: none;
    }

    .container7__title {
        width: 340px;
        height: 66px;
        margin: auto;
        font-size: 22px;
        line-height: 138.6%;
        top: -259px;
        position: relative;
        text-align: center;
        padding: 0;
    }

     .column1 {
        display: block;
     } 

     .column1__second {
        display: none;
    }

    .column1__third {
        display: none;
    }

    .column1__first {
        width: 340px;
        height: 242px;
        display: block;
        top: 651px;
        position: relative;
        right: 570px;
        margin: auto;
    }

    .container7 {
        background-image: none;
        background-color: #131313;
    }

    .container7::before {
        background-color: #131313;
    }

    .section6 {
        display: none;
    }

    .section7 {
        background-image: none;
        background-color: #131313;
    }

    .form3__title{
        font-size: 20px;
        line-height: 28px;
        height: 26px;
    }

    .form3 {
        margin: 0 auto;
        width: 340px;
        height: 973px;
        background: none;
        margin-top: -730px;
        margin-left: 18px;
    }

    .form3__name {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }

    .form3__inputtext {
        font-size: 14px;
        line-height: 138.72%;
        color: #FFFFFF;
        background-color: #131313;
    }

    .form3__underphoto {
        grid-template-columns: minmax(0, auto);
        margin: auto;
        grid-row-gap: 65px;
        padding-top: 61px;
    }

    .line3 {
        width: 340px;
        height: 1px;
    }

    .button6 {
        width: 340px;
        height: 51px;
        border: 0;
        outline: 0;
        color: white;
        background-color: #E3B873;
        box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
        border-radius: 2px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        padding: 13px 33px;
        cursor: pointer;
        margin: 0;
        margin-top: 67px;
    }
    

    .checkbox3 {
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
        margin: 0;
    }
    
    .section7__map {
        margin: auto;
        width: auto;
        height: auto;
        top: -160px;
    }

    .section7__title {
        font-size: 18px;
        padding: 0;
        top: 500px;
    }

    .section7__map-image {
        height: 367px;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    .section7__logo {
        margin: auto;
        top: 530px;
    }

    .footer {
        display: none;
    }
}